@import url('https://fonts.googleapis.com/css?family=Caveat|Josefin+Sans');

select {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

body {

  background-color: #fffa8a;
  background-image: url("../img/pizzaBackground2.jpg");
  background-repeat: no-repeat;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

img {
  margin-bottom: 20px;
  border-radius: 6px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}


.form-container {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(206, 0, 0, 0.75);
  border-radius: 6px;
  color: white;
}

.jumbotron {
  background-color: #dba24a;
  color: white;
  text-align: center;
  font-family: 'Caveat', cursive;
}

.jumbotron p {
  font-family: 'Caveat', cursive;
  font-size: 25px;
}

.jumbotron h1 {
  font-size: 80px;
}

.btn {
  background-color: #e1d800;
  margin-top: 20px;
  color: #ce0000;
}

.choices {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

#order-type {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#order-confirmation{
  font-family: 'Josefin Sans', sans-serif;
  display: none;
  text-align: center;
  padding: 20px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(206, 0, 0, 0.75);
  color: white;
  border-radius: 6px;
}

#delivery-address {
  display: none;
}
